<template>
	<div>
		<van-nav-bar left-text="返回" title="快递跟踪" @click-left="this.$parent.goback" />
		<van-cell title="快递单号" :value="data.serialNo"></van-cell>
		<van-cell title="物流公司" :value="data.companyName"></van-cell>
		<div class="van-hairline--top"></div>
		<div style="margin-bottom: 60px;">
			<van-steps direction="vertical" :active="0">
				<van-step v-for="item in data.itemList" :key="item.id">
					<h3>{{item.address}}</h3>
					<p>{{item.time}}</p>
				</van-step>
			</van-steps>
		</div>
		<navigation name="index"></navigation>
	</div>
</template>
<script>
	import navigation from '@/components/navitation.vue'
	import {list} from '@/api/express.js'
	export default {
		components: {
			navigation
		},
		data() {
			return {
				id: this.$route.query.id,
				data: {},
				loading: false,
				refreshing: false,
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				this.loading = true;
				let that = this
				list(this.id).then(resp => {
					that.data = resp.data
					that.loading = false
					that.refreshing = false;
				})
			},
			onRefresh() {
				this.page.reset()
				this.finished = false;
				this.data = {};
				this.onLoad();
			},
		}
	}
</script>

<style>
</style>
