<template>
	<div>
		<van-nav-bar left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div v-if="loading">
			<van-skeleton title :row="3" />
		</div>
		<div v-else>
			<van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
				<van-swipe-item v-for="item in previewList" :key="item">
					<van-image fit="cover" :src="item"/>
				</van-swipe-item>
			</van-swipe>
			<van-cell title="价格" :value="'¥' + price" size="large" label="" />
			<div style="font-size: 14px;">{{dataInfo.name}}</div>
			<div>
				<van-tabs v-model="active" scrollspy sticky>
					<van-tab title="详情">
						<div v-if="contentLoading">
							<van-loading type="spinner" size="20" />
						</div>
						<div v-else>
							<van-image v-for="item in contentImageList" :key="item" :src="item">
								<template v-slot:loading>
									<van-loading type="spinner" size="20" />
								</template>
							</van-image>
						</div>
					</van-tab>
					<van-tab title="评论" style="padding-bottom: 60px;">
					</van-tab>
				</van-tabs>
			</div>
			<van-goods-action>
				<van-goods-action-icon to="/cart" icon="cart-o" text="购物车" :[cartBadge]="statistic.cart"/>
				<van-goods-action-button type="warning" text="加入购物车" @click="onOpenSku(false)" />
				<van-goods-action-button type="danger" text="立即购买" @click="onOpenSku(true)" />
			</van-goods-action>
			<van-action-sheet v-model="showSku">
				<div class="content">
					<van-row>
						<van-col span="4">
							<van-image width="100" height="100" :src="sku.cover" />
						</van-col>
						<van-col span="16" offset="4">
							<div style="font-size: 14px;">价格:{{sku.price}}</div>
							<div style="font-size: 14px;">库存:{{sku.quantity}}</div>
						</van-col>
					</van-row>
					<van-divider content-position="left">规格</van-divider>
					<van-radio-group v-model="radio" @change="onChange">
						<van-radio :name="item.keyId" :data-index="index" v-for="(item, index) in skuList" :key="item.keyId" @click="onSelect(index)"  style="font-size: 14px;">{{item.name}}</van-radio>
					</van-radio-group>
					<div class="van-hairline--top"></div>
					<van-cell title="购买数量" icon="shop-o">
						<template #right-icon>
							<van-stepper v-model="form.quantity" />
						</template>
					</van-cell>
					<van-button type="danger" block @click="onConfirmSku">确认</van-button>
				</div>
			</van-action-sheet>
		</div>
	</div>
</template>
<script>
	import { mapGetters } from 'vuex'
	import { Toast } from 'vant';
	import { detail, content, skuList } from '@/api/goods.js'
	export default {
		data() {
			return {
				loading: true,
				contentLoading: true, 
				active: 1,
				radio: 1,
				form: {
					goodsId: this.$route.query.id,
					quantity: 1,
					skuId: ''
				},
				previewList: [],
				contentImageList: [],
				dataInfo: {},
				showSku: false,
				quickBuy: false,
				sku: {
					cover: '',
					price: '',
					quantity: 0
				},
				skuList: []
			}
		},
		mounted() {
			this.onLoad()
		},
		computed: {
			...mapGetters([
				'statistic'
			]),
			cartBadge() {
				return this.statistic.cart > 0 ? 'badge' : ""
			},
			price() {
				if (this.dataInfo.minPrice == this.dataInfo.maxPrice) {
					return this.dataInfo.minPrice
				} else {
					return this.dataInfo.minPrice + " - " + this.dataInfo.maxPrice
				}
			},
		},
		methods: {
			onLoad() {
				let goodsId = this.form.goodsId
				let that = this
				detail(goodsId).then((resp) => {
					that.dataInfo = resp.data
					that.previewList = resp.data.preview.split("|||")
					that.loading = false
				})
				content(goodsId).then((resp) => {
					that.contentImageList = resp.data.split("|||")
					that.contentLoading = false
				})
				skuList(goodsId).then((resp) => {
					that.sku.price = "最低" + resp.data.minPrice + ", 最高" + resp.data.maxPrice
					that.sku.quantity = resp.data.quantity
					that.sku.cover = resp.data.cover
					if(resp.data.skuList.length == 0) {
						Toast('未发现SKU');
					}
					that.skuList = resp.data.skuList
				})
			},
			onChange(name) {
				this.form.skuId = name
			},
			onSelect(index) {
				let sku = this.skuList[index]
				this.sku.price = sku.price
				this.sku.quantity = sku.quantity
				this.sku.cover = sku.cover
			},
			onOpenSku(quickBuy) {
				this.showSku = true
				this.quickBuy = quickBuy
			},
			validateForm() {
				if(!this.form.goodsId || !this.form.skuId || !this.form.quantity) {
					Toast('请先选择规格');
					return true
				}
				if(this.sku.quantity < 1) {
					Toast('库存不足');
					return true
				}
				return false
			},
			onConfirmSku() {
				if(this.validateForm()) return
				if (this.quickBuy) {
					this.showSku = false
					this.$router.push('/order/confirm?type=sku&id=' + this.form.skuId + "&quantity=" + this.form.quantity)
				} else {
					this.$store.dispatch("cart/add", this.form).then(() => {
						Toast('已成功加入购物车');
						this.showSku = false
					})
				}
			}
		}
	}
</script>

<style>
	.my-swipe .van-swipe-item {
		color: #fff;
		font-size: 20px;
		line-height: 150px;
		text-align: center;
		background-color: #39a9ed;
	}

	.content {
		padding: 16px 16px 40px;
	}
</style>
