<template>
	<div>
		<van-nav-bar title="首页"/>
		<div style="margin-bottom: 60px;">
			<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
				<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
					<van-empty image="error" description="尚未发现数据"  v-if="list.length == 0 && finished" />
					<van-row gutter="20" type="flex" justify="space-between">
						<van-col span="12" v-for="item in list" :key="item.keyId">
							<router-link v-bind:to="'/goods?id=' + item.keyId">
								<van-image v-bind:src="item.cover" />
								<div class="van-ellipsis" style="font-size: 14px;">{{item.name}}</div>
								<div style="font-size: 14px;">￥{{item.minPrice}}</div>
							</router-link>
						</van-col>
					</van-row>
				</van-list>
			</van-pull-refresh>
		</div>
		<navigation name="index"></navigation>
	</div>
</template>
<script>
	import { mapGetters } from 'vuex'
	import navigation from '@/components/navitation.vue'
	import Pages from '@/utils/page.js'
	import { list } from '@/api/goods.js'
	export default {
		components: {
			navigation
		},
		data() {
			return {
				list: [],
				loading: false,
				finished: false,
				refreshing: false,
				page: new Pages()
			}
		},
		computed: {
			...mapGetters([
				"token"
			])
		},
		methods: {
			onLoad() {
				this.fetchList()
			},
			fetchList() {
				this.loading = true;
				let that = this
				list(this.page).then((resp) => {
					if(!resp.data.next) {
						that.finished = true
					} else {
						that.page.next()
					}
					that.list.push(...resp.data.content)
					that.loading = false
					that.refreshing = false;
				})
			},
			onRefresh() {
				this.page.reset()
				this.finished = false;
				this.list = [];
				this.fetchList();
			},
		}
	}
</script>

<style>

</style>
