<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>商城</title>
	<style>
      .icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
    </style>
  </head>
  <body>
    <noscript>
      <strong>非常抱歉，您的浏览器禁用了网页脚本（JavaScript），请先启用后再试。</strong>
    </noscript>
    <div id="app">
		<router-view></router-view>
	</div>
  </body>
</html>
