<template>
	<div>
		<van-nav-bar left-text="返回" title="账单列表" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
			<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
				<van-empty image="error" description="尚未发现数据" v-if="list.length == 0 && finished" />
				<van-cell-group>
					<div v-for="item in list" :key="item.id">
						<van-cell :title="item.typeDisplay" :value="`${symbol(item)} ${item.amount} 余额 ${item.balance}`" :label="item.createTime" />
					</div>
				</van-cell-group>
			</van-list>
		</van-pull-refresh>
	</div>
</template>

<script>
	import Pages from '@/utils/page.js'
	import {billList} from '@/api/wallet.js'
	import {isOut} from '@/utils/state.js'
	export default {
		data() {
			return {
				refreshing: true,
				loading: true,
				finished: false,
				list: [],
				pages: new Pages(),
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onRefresh() {
				this.refreshing = true
				this.list = []
				this.onLoad()
			},
			onLoad() {
				let that = this
				this.loading = true
				billList(this.pages).then(response => {
					if (!response.data.next) {
						that.finished = true
					} else {
						that.pages.next()
					}
					that.list.push(...response.data.content)
					that.loading = false
					that.refreshing = false
				})
			},
			viewTag(item) {
				return isOut(item.type)
			},
			symbol(item) {
				if(isOut(item.type)) {
					return "-"
				} else {
					return "+"
				}
			}
		}
	}
</script>

<style>
</style>
