<template>
	<div>
		<van-nav-bar left-text="返回" title="我的卡片" left-arrow @click-left="this.$parent.goback">
			<template #right>
				<van-popover v-model="showPopover" trigger="click">
					<van-cell value="支付宝" @click="alipay.visible = true"></van-cell>
					<van-cell value="微信" @click="wx.visible = true"></van-cell>
					<van-cell value="银行卡" @click="bank.visible = true"></van-cell>
					<van-cell value="PayPal" @click="paypal.visible = true"></van-cell>
					<van-cell value="以太坊" @click="eth.visible = true"></van-cell>
					<van-cell value="波场" @click="tron.visible = true"></van-cell>
					<template #reference>
						<van-button icon="add" size="small">添加</van-button>
					</template>
				</van-popover>
			</template>
		</van-nav-bar>
		<van-list v-model="cardListView.loading" :finished="cardListView.finished" :finished-text="cardListView.list.length==0?'':'没有更多了'" @load="reload">
			<van-empty image="error" description="尚未发现数据" v-if="cardListView.list.length == 0 && cardListView.finished" />
			<van-cell-group>
				<div v-for="item in cardListView.list" :key="item.id">
					<van-swipe-cell>
					  <van-cell :border="false" :value="item.data.title" />
					  <template #right>
					    <van-button square type="danger" text="删除" @click="deleteCard(item)" />
					  </template>
					</van-swipe-cell>
				</div>
			</van-cell-group>
		</van-list>
		
		<van-dialog v-model="alipay.visible" title="支付宝" :show-cancel-button="true" @confirm="submitAddAliPayCard">
			<van-form>
			  <van-field v-model="alipay.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="alipay.form.loginId" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			  <van-field v-model="alipay.form.username" name="昵称" label="昵称" placeholder="账户设置的昵称" :rules="[{ required: true, message: '请填写昵称' }]" />
			</van-form>
		</van-dialog>
		
		<van-dialog v-model="wx.visible" title="微信" :show-cancel-button="true" @confirm="submitAddWxCard">
			<van-form>
			  <van-field v-model="wx.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="wx.form.loginId" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			  <van-field v-model="wx.form.username" name="昵称" label="昵称" placeholder="账户设置的昵称" :rules="[{ required: true, message: '请填写昵称' }]" />
			</van-form>
		</van-dialog>
		
		<van-dialog v-model="bank.visible" title="银行卡" :show-cancel-button="true" @confirm="submitAddBankCard">
			<van-form>
			  <van-field v-model="bank.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="bank.form.bankNo" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			  <van-field v-model="bank.form.username" name="昵称" label="昵称" placeholder="账户设置的昵称" :rules="[{ required: true, message: '请填写昵称' }]" />
			  <van-field readonly clickable name="picker" :value="bank.bankName" label="银行名" placeholder="点击选择银行" @click="bank.bankListVisible = true" />
			</van-form>
		</van-dialog>
		
		<van-popup v-model="bank.bankListVisible" position="bottom">
			 <van-picker show-toolbar title="银行名" :columns="global.bank" value-key="label" @confirm="onBankCodeConfirm" @cancel="bank.form.bankCode = ''; bank.bankListVisible = false;"/>
		</van-popup>
		
		<van-dialog v-model="paypal.visible" title="PayPal" :show-cancel-button="true" @confirm="submitAddPayPalCard">
			<van-form>
			  <van-field v-model="paypal.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="paypal.form.loginId" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			  <van-field v-model="paypal.form.username" name="昵称" label="昵称" placeholder="账户设置的昵称" :rules="[{ required: true, message: '请填写昵称' }]" />
			</van-form>
		</van-dialog>
		
		<van-dialog v-model="eth.visible" title="以太坊" :show-cancel-button="true" @confirm="submitAddEthCard">
			<van-form>
			  <van-field v-model="eth.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="eth.form.uid" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			</van-form>
		</van-dialog>
		
		<van-dialog v-model="tron.visible" title="波场" :show-cancel-button="true" @confirm="submitAddTronCard">
			<van-form>
			  <van-field v-model="tron.form.name" name="名称" label="名称" placeholder="取一个能区分其它卡的名字" :rules="[{ required: true, message: '请填写名称' }]" />
			  <van-field v-model="tron.form.uid" name="登录账号" label="登录账号" placeholder="支付宝登录账号" :rules="[{ required: true, message: '请填写登录账号' }]" />
			</van-form>
		</van-dialog>
		
	</div>
</template>
<script>
	import Pages from '@/utils/page.js'
	import { list, add, del } from '@/api/card.js'
	import {mapGetters} from 'vuex'
	export default {
		computed: {
			...mapGetters([
				'global',
			]),
		},
		data() {
			return {
				showPopover: false,
				cardListView: {
					refreshing: true,
					loading: true,
					finished: true,
					pages: new Pages(),
					list: [],
				},
				alipay : {
					visible: false,
					form: {
						cardType: "ALIPAY_LOGINID",
						name: "",
						loginId: "",
						username: ""
					}
				},
				wx: {
					visible: false,
					form: {
						cardType: "WX_LOGINID",
						name: "",
						loginId: "",
						username: ""
					}
				},
				bank: {
					visible: false,
					bankName: "",
					bankListVisible: false,
					form: {
						cardType: "BANK_ALL",
						name: "",
						bankCode: "",
						bankNo: "",
						username: ""
					}
				},
				paypal: {
					visible: false,
					form: {
						cardType: "PAYPAL_LOGINID",
						name: "",
						loginId: "",
						username: ""
					}
				},
				eth: {
					visible: false,
					form: {
						cardType: "ETH_ID",
						name: "",
						uid: ""
					}
				},
				tron: {
					visible: false,
					form: {
						cardType: "TRON_ID",
						name: "",
						uid: ""
					}
				}
			}
		},
		mounted() {
			this.reload()
		},
		methods: {
			onRefresh() {
				this.cardListView.refreshing = true
				this.cardListView.list = []
				this.reload()
			},
			reload() {
				let that = this
				this.cardListView.loading = true
				list().then((resp)=>{
					that.cardListView.loading = false
					that.cardListView.list = resp.data
				})
			},
			deleteCard( data ) {
				let that = this
				this.$confirm('您确认删除该数据吗?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					del(data.id).then(()=>{
						that.reload()
					}).catch((resp)=>{
						this.$showError(resp)
					})
				})
			},
			submitAddAliPayCard() {
				let that = this
				add(this.alipay.form).then(()=>{
					that.alipay.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			submitAddWxCard() {
				let that = this
				add(this.wx.form).then(()=>{
					that.wx.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			submitAddBankCard() {
				let that = this
				add(this.bank.form).then(()=>{
					that.bank.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			onBankCodeConfirm(value) {
				this.bank.form.bankCode = value.value
				this.bank.bankName = value.label
				this.bank.bankListVisible = false
			},
			submitAddPayPalCard() {
				let that = this
				add(this.paypal.form).then(()=>{
					that.paypal.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			submitAddEthCard() {
				let that = this
				add(this.eth.form).then(()=>{
					that.eth.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			submitAddTronCard() {
				let that = this
				add(this.tron.form).then(()=>{
					that.tron.visible = false
					that.reload()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			}
		}
	}
</script>

<style>
</style>
