<template>
	<div>
		<van-nav-bar left-text="返回" :title="`我的钱包 (${info.currency})`" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<div style="margin-bottom: 60px;">
			<div style="padding: 20px; text-align: center; ">
				<div>
					<span style="font-size: 14px;">
						<div>{{info.number}}</div>
						<div>账户总额</div>
					</span>
				</div>
				<div><strong>{{info.amount}}</strong></div>
				<van-row style="font-size: 14px;">
					<van-col span="12">
						<div>可用金额</div>
						<div>{{info.availableAmount}}</div>
					</van-col>
					<van-col span="12">
						<div>冻结金额</div>
						<div>{{info.freezeAmount}}</div>
					</van-col>
				</van-row>
			</div>
			<van-cell-group title="">
				<van-cell title="账单明细" is-link to="/wallet/bill" />
				<van-cell title="我的转账" is-link to="/wallet/payouts"/>
				<van-cell title="内部转账" is-link to="/wallet/transfer" />
				<van-cell title="修改密码" is-link to="/wallet/password" />
				<van-cell title="账户充值" is-link to="/wallet/topup" icon="hot"/>
				<van-cell title="我的卡片" is-link to="/wallet/card" icon="card"/>
				<van-cell title="我要提现" is-link to="/wallet/payout" icon="bag"/>
			</van-cell-group>
		</div>
		<navigation name="settings"></navigation>
	</div>
</template>

<script>
	import navigation from '@/components/navitation.vue'
	import {walletDetail} from '@/api/wallet.js'
	export default {
		components: {
			navigation
		},
		data() {
			return {
				loading: false,
				info: {},
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				walletDetail().then(resp => {
					that.info = resp.data
					that.loading = false
				})
			}
		}
	}
</script>

<style>
</style>
