<template>
	<div>
		<van-nav-bar title="开通钱包" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<van-skeleton title :row="3" v-if="loading" />
		<div v-else>
			<van-cell-group>
				<van-field v-model="form.password" type="password" label="密码" placeholder="请输入密码" />
				<van-field v-model="form.password1" type="password" label="确认密码" placeholder="请再次输入密码" />
			</van-cell-group>
			<div style="margin: 16px;">
				<van-button round block type="info" @click="this.doOpen">现在开通</van-button>
			</div>
		</div>
	</div>
</template>

<script>
	import { openWallet } from '@/api/user.js'
	import {Toast} from 'vant'
	export default {
		data() {
			return {
				form: {
					password: "",
					password1: ""
				},
			}
		},
		methods: {
			doOpen() {
				let that = this
				if(!this.form.password || !this.form.password1) {
					Toast("请先输入必填项")
					return
				}
				if(this.form.password != this.form.password1) {
					Toast("密码输入错误")
					return
				}
				openWallet(this.form).then(() => {
					that.$router.replace("/wallet")
				}).catch(resp => {
					Toast(resp.data.msg);
				})
			}
		}
	}
</script>

<style>
</style>
