<template>
	<div>
		<van-nav-bar title="修改密码" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div>
			<van-cell-group>
				<van-field v-model="form.oldPassword" type="password" label="旧密码" placeholder="请输入旧密码" />
				<van-field v-model="form.newPassword" type="password" label="新密码" placeholder="请输入新密码" />
				<van-field v-model="form.newPassword1" type="password" label="新密码" placeholder="请再次输入新密码" />
			</van-cell-group>
			<div style="margin: 16px;">
				<van-button round block type="info" @click="this.doChangePassword">修改密码</van-button>
			</div>
		</div>
	</div>
</template>

<script>
	import { changePassword } from '@/api/wallet.js'
	import {Toast} from 'vant'
	export default {
		data() {
			return {
				form: {
					oldPassword: "",
					newPassword: "",
					newPassword1: ""
				},
			}
		},
		methods: {
			doChangePassword() {
				let that = this
				if(!this.form.oldPassword || !this.form.newPassword || !this.form.newPassword1) {
					Toast("请先输入必填项")
					return
				}
				if(this.form.newPassword != this.form.newPassword1) {
					Toast("新密码输入错误")
					return
				}
				changePassword(this.form).then(() => {
					that.$router.replace("/wallet")
				}).catch(resp => {
					Toast(resp.data.msg);
				})
			}
		}
	}
</script>

<style>
</style>
