<template>
	<div>
		<van-nav-bar title="钱包直付" left-text="返回" left-arrow @click-left="toOrderList" />
		<van-skeleton title :row="3" v-if="loading" />
		<div v-else>
			<van-cell-group>
				<van-cell title="订单号" :value="form.orderNo" :label="info.subject" />
				<van-cell title="金额" :value="'¥' + info.amount" />
				<van-field v-model="form.walletPassword" type="password" label="密码" placeholder="请输入密码" />
			</van-cell-group>
			<div style="margin: 16px;">
				<van-button round block type="info" @click="this.doPay">立即付款</van-button>
			</div>
		</div>
	</div>
</template>

<script>
	import {detail,pay} from '@/api/wallet.js'
	import {Toast,Dialog} from 'vant'
	export default {
		data() {
			return {
				loading: true,
				info: {},
				redirectUrl: decodeURIComponent(this.$route.query.redirect_url),
				form: {
					orderNo: this.$route.query.order_no,
					walletPassword: "asdfASDF"
				},
				error: {}
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				this.loading = true
				detail(this.form.orderNo).then(resp => {
					that.info = resp.data
					that.loading = false
				})
			},
			doPay() {
				let that = this
				pay(this.form).then(() => {
					window.location.href = that.redirectUrl
				}).catch(resp => {
					Toast(resp.data.msg);
				})
			},
			toOrderList() {
				Dialog.confirm({
					title: '确认',
					message: '您需要结束支付返回订单页吗?',
				}).then(() => {
					this.$router.replace("/order")
				})
			}
		}
	}
</script>

<style>
</style>
