<template>
	<div>
		<van-nav-bar left-text="返回" title="提现历史" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
			<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
				<van-empty image="error" description="尚未发现数据" v-if="list.length == 0 && finished" />
				<van-cell-group>
					<div v-for="item in list" :key="item.id">
						<van-swipe-cell>
						  <van-cell :border="false" :title="`￥${item.order.amount}`" :label="`${item.card.data.title} ${item.order.createTime}`" :value="$getLableItem(item.order.state, global.acty).label"/>
						  <template #right v-if="item.order.state == 'PENDING'">
						    <van-button square type="danger" text="撤销" @click="cancelPayoutTransferOrder(item.order.requestNo)" />
						  </template>
						</van-swipe-cell>
					</div>
				</van-cell-group>
			</van-list>
		</van-pull-refresh>
	</div>
</template>
<script>
	import {mapGetters} from 'vuex'
	import Pages from '@/utils/page.js'
	import { transfers, cancel } from '@/api/payout.js'
	export default {
		computed: {
			...mapGetters([
				'global',
			]),
		},
		data() {
			return {
				refreshing: true,
				loading: true,
				finished: false,
				list: [],
				pages: new Pages(),
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onRefresh() {
				this.refreshing = true
				this.list = []
				this.onLoad()
			},
			onLoad() {
				let that = this
				this.loading = true
				transfers(this.pages).then(response => {
					if (!response.data.next) {
						that.finished = true
					} else {
						that.pages.next()
					}
					that.list.push(...response.data.content)
					that.loading = false
					that.refreshing = false
				})
			},
			cancelPayoutTransferOrder( id ) {
				let that = this
				cancel({requestNo: id}).then(()=>{
					that.onRefresh()
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
		}
	}
</script>

<style>
</style>