<template>
	<div>
		<van-nav-bar title="我要转账" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div>
			<van-form>
				<van-field readonly :value="`可用余额￥${data.wallet.activeAmount} 总金额￥${data.wallet.amount}`"/>
				<van-field readonly clickable name="picker" :value="cardName" label="选择卡片" placeholder="点击选择卡片" @click="showCardList = true" />
				<van-popup v-model="showCardList" position="bottom">
					<van-picker show-toolbar :columns="data.cardList" @confirm="onConfirm" @cancel="showCardList = false" value-key="name"/> 
				</van-popup>
				<van-field v-model="form.amount" name="amount" label="转账金额" type="number" placeholder="转账金额" :rules="[{ required: true, message: '请填写转账金额' }]" />
				<van-field v-model="form.password" type="password" name="钱包密码" label="钱包密码" placeholder="钱包密码" :rules="[{ required: true, message: '请填写钱包密码' }]" />
				<div style="margin: 16px;">
					<van-button round block type="info" @click="payout">提交</van-button>
				</div>
			</van-form>
		</div>
	</div>
</template>

<script>
	import { get, transfer } from '@/api/payout.js'
	import {Toast} from 'vant'
	export default {
		data() {
			return {
				showCardList: false,
				data: {},
				cardName: "",
				form: {
					cardId: "",
					amount: "",
					password: ""
				}
			}
		},
		mounted() {
			this.onload()
		},
		methods: {
			onload() {
				let that = this
				get().then((resp) => {
					that.data = resp.data
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
			onConfirm(value) {
				this.form.cardId = value.id
				this.cardName = value.data.title
				this.showCardList = false
			},
			payout() {
				transfer(this.form).then((resp) => {
					Toast("提交成功")
					this.$href("/wallet")
				}).catch((resp)=>{
					this.$showError(resp)
				})
			}
		}
	}
</script>

<style>
</style>
