<template>
	<div>
		<van-nav-bar title="内部转账" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div>
			<van-cell-group>
				<van-field v-model="form.toNumber" type="text" label="收款方账号" placeholder="请输入对方资金账号" />
				<van-field v-model="form.amount" type="number" label="转账金额" placeholder="请输入转账金额" />
				<van-field v-model="form.password" type="password" label="支付密码" placeholder="请输入钱包密码" />
			</van-cell-group>
			<div style="margin: 16px;">
				<van-button round block type="info" @click="this.doTransfer">开始转账</van-button>
			</div>
		</div>
	</div>
</template>

<script>
	import {transfer} from '@/api/wallet.js'
	import {Toast} from 'vant'
	export default {
		data() {
			return {
				form: {
					toNumber: "",
					amount: "",
					password: ""
				},
			}
		},
		methods: {
			doTransfer() {
				let that = this
				if(!this.form.toNumber || !this.form.amount || !this.form.password) {
					Toast("请先输入必填项")
					return
				}
				transfer(this.form).then(() => {
					that.$router.replace("/wallet")
				}).catch((resp)=>{
					this.$showError(resp)
				})
			},
		}
	}
</script>

<style>
</style>
