<template>
	<div>
		<van-nav-bar left-text="返回" title="添加地址" left-arrow @click-left="this.$parent.goback" />
		<van-address-edit 
		:area-list="addressAreaList"
		show-postal :show-delete="false" show-set-default :show-search-result="false"
		:area-columns-placeholder="['请选择', '请选择', '请选择']" @save="onSave"/>
	</div>
</template>

<script>
	import { add } from '@/api/contact.js'
	import addressAreaList from '@/utils/area.js'
	export default {
		data() {
			return {
				addressAreaList: addressAreaList
			}
		},
		methods: {
			onSave( contact ) {
				let that = this
				add({
					...contact,
					telephone: contact.tel,
					address: contact.addressDetail,
					default: contact.isDefault
				}).then(()=>{
					that.$router.replace("/contact")
				})
			}
		}
	}
</script>

<style>
</style>
