<template>
	<div>
		<van-nav-bar left-text="返回" title="编辑地址" left-arrow @click-left="this.$parent.goback" />
		<van-skeleton title :row="3" v-if="loading" />
		<van-address-edit v-else
		:area-list="addressAreaList" 
		:addressInfo="addressInfo"
		show-postal show-delete=false show-set-default :show-search-result="false"
		:area-columns-placeholder="['请选择', '请选择', '请选择']" @save="onUpdate" @delete="onDelete" />
	</div>
</template>

<script>
	import { Toast } from 'vant';
	import addressAreaList from '@/utils/area.js'
	import { info, del, update } from '@/api/contact.js'
	export default {
		data() {
			return {
				loading: true,
				id : this.$route.query.id,
				addressAreaList: addressAreaList,
				addressInfo: {}
			}
		},
		mounted() {
			this.fetchList()
		},
		methods: {
			fetchList() {
				let that = this
				this.loading = true
				info(this.id).then((response)=>{
					let contact = response.data
					that.addressInfo = {id: contact.keyId, tel: contact.telephone, addressDetail: contact.address , isDefault : contact.default, ...contact}
					that.loading = false
				})
			},
			onUpdate( contact ) {
				update(this.id, {
					...contact,
					keyId: contact.id,
					telephone: contact.tel,
					address: contact.addressDetail,
					default: contact.isDefault,
				}).then(()=>{
					Toast("处理成功")
				})
			},
			onDelete() {
				let that = this
				del(this.id).then(()=>{
					that.$router.replace("/contact")
				})
			}
		}
	}
</script>

<style>
</style>
