<template>
	<div>
		<van-nav-bar left-text="返回" title="收货地址" left-arrow @click-left="this.$parent.goback" />
		<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
			<van-skeleton title :row="3" v-if="loading" />
			<div v-else> 
				<van-empty  v-if="list.length == 0 && !refreshing"  image="error" description="尚未发现数据" />
				<van-address-list
				v-model="defaultId" 
				:list="list" 
				:disabled-list="[]" 
				:switchable = false
				default-tag-text="默认" 
				@add="onAdd"
				@edit="onEdit" />
			</div>
		</van-pull-refresh>
	</div>
</template>

<script>
	import { list } from '@/api/contact.js'
	export default {
		data() {
			return {
				refreshing: false,
				loading: true,
				defaultId: "",
				list: []
			}
		},
		mounted() {
			this.fetchList()
		},
		methods: {
			fetchList() {
				this.loading = true
				let that = this
				list().then((response) => {
					response.data.forEach((item)=>{
						if(item.default) {
							that.defaultId = item.keyId
						}
						that.list.push({
							id: item.keyId,
							name: item.name,
							tel: item.telephone,
							address: item.fullAddress,
							isDefault: item.default,
						})	
					})
					that.loading = false
					that.refreshing = false;
				})
			},
			onRefresh() {
				this.refreshing = true
				this.list = []
				this.fetchList()
			},
			onEdit( item ) {
				this.$router.push("/contact/edit?id=" + item.id)
			},
			onAdd() {
				this.$router.push("/contact/add")
			}
		}
	}
</script>

<style>
</style>
