<template>
	<div class="container">
		<div v-if="comments.length > 0">
			<div class="comment" v-for="item in comments" :key="item.comments.keyId">
				<div class="info">
					<img class="avatar" :src="item.comments.usrAvatar" width="36" height="36" />
					<div class="right">
						<div class="name">{{item.comments.usrName}}</div>
						<div class="date">{{item.comments.time}}</div>
					</div>
				</div>
				<div class="content">{{item.comments.content}}</div>
				<div class="control">
					<span class="comment-reply" @click="showCommentInput(item)">
						<i class="iconfont icon-comment"></i>
						<span>回复</span>
					</span>
				</div>
				<div class="reply">
					<div class="item" v-for="reply in item.children" :key="reply.id">
						<div class="reply-content">
							<span class="from-name">{{reply.usrName}}</span><span>: </span>
						</div>
						<div class="reply-bottom">
							<span>{{reply.createTime}}</span>
							<span class="reply-text" @click="showCommentInput(item, reply)">
								<i class="iconfont icon-comment"></i>
								<span>回复</span>
							</span>
						</div>
					</div>
					<div class="write-reply" v-if="item.children.length > 0" @click="showCommentInput(item)">
						<i class="el-icon-edit"></i>
						<span class="add-comment">添加新评论</span>
					</div>
				</div>
			</div>
		</div>
		<transition name="fade">
			<div class="input-wrapper">
				<el-input class="gray-bg-input" v-model="inputComment" type="textarea" :rows="3" autofocus placeholder="写下你的评论"></el-input>
				<div class="btn-control">
					<span class="cancel" @click="cancel">取消</span>
					<el-button class="btn" type="success" round @click="commitComment">确定</el-button>
				</div>
			</div>
		</transition>
	</div>
</template>

<script>
	import { count, topicList, addTopic } from '@/api/comments.js'
	export default {
		props: {
			topicId: String
		},
		components: {},
		data() {
			return {
				comments: [],
				count: 0,
				inputComment: '',
				showItemId: ''
			}
		},
		computed: {},
		methods: {
			cancel() {
				this.showItemId = ''
			},
			commitComment() {
				addTopic({
					keyId: this.topicId,
					content: this.inputComment
				})
			},
			showCommentInput(item, reply) {
				if (reply) {
					this.inputComment = "@" + reply.fromName + " "
				} else {
					this.inputComment = ''
				}
				this.showItemId = item.keyId
			}
		},
		created() {
			let that = this
			count(this.topicId).then(resp => {
				that.countComments = resp.data
			})
			topicList(this.topicId).then(resp => {
				that.comments = resp.data.content
			})
		}
	}
</script>

<style scoped lang="scss">
	@import "@/styles/comment.scss";

	.container {
		padding: 0 10px;
		box-sizing: border-box;

		.comment {
			display: flex;
			flex-direction: column;
			padding: 10px;
			border-bottom: 1px solid $border-fourth;

			.info {
				display: flex;
				align-items: center;

				.avatar {
					border-radius: 50%;
				}

				.right {
					display: flex;
					flex-direction: column;
					margin-left: 10px;

					.name {
						font-size: 16px;
						color: $text-main;
						margin-bottom: 5px;
						font-weight: 500;
					}

					.date {
						font-size: 12px;
						color: $text-minor;
					}
				}
			}

			.content {
				font-size: 16px;
				color: $text-main;
				line-height: 20px;
				padding: 10px 0;
			}

			.control {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: $text-minor;

				.like {
					display: flex;
					align-items: center;
					margin-right: 20px;
					cursor: pointer;

					&.active,
					&:hover {
						color: $color-main;
					}

					.iconfont {
						font-size: 14px;
						margin-right: 5px;
					}
				}

				.comment-reply {
					display: flex;
					align-items: center;
					cursor: pointer;

					&:hover {
						color: $text-333;
					}

					.iconfont {
						font-size: 16px;
						margin-right: 5px;
					}
				}

			}

			.reply {
				margin: 10px 0;
				border-left: 2px solid $border-first;

				.item {
					margin: 0 10px;
					padding: 10px 0;
					border-bottom: 1px dashed $border-third;

					.reply-content {
						display: flex;
						align-items: center;
						font-size: 14px;
						color: $text-main;

						.from-name {
							color: $color-main;
						}

						.to-name {
							color: $color-main;
							margin-left: 5px;
							margin-right: 5px;
						}
					}

					.reply-bottom {
						display: flex;
						align-items: center;
						margin-top: 6px;
						font-size: 12px;
						color: $text-minor;

						.reply-text {
							display: flex;
							align-items: center;
							margin-left: 10px;
							cursor: pointer;

							&:hover {
								color: $text-333;
							}

							.icon-comment {
								margin-right: 5px;
							}
						}
					}
				}

				.write-reply {
					display: flex;
					align-items: center;
					font-size: 14px;
					color: $text-minor;
					padding: 10px;
					cursor: pointer;

					&:hover {
						color: $text-main;
					}

					.el-icon-edit {
						margin-right: 5px;
					}
				}

				.fade-enter-active,
				fade-leave-active {
					transition: opacity 0.5s;
				}

				.fade-enter,
				.fade-leave-to {
					opacity: 0;
				}

				.input-wrapper {
					padding: 10px;

					.gray-bg-input,
					.el-input__inner {
						/*background-color: #67C23A;*/
					}

					.btn-control {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						padding-top: 10px;

						.cancel {
							font-size: 16px;
							color: $text-normal;
							margin-right: 20px;
							cursor: pointer;

							&:hover {
								color: $text-333;
							}
						}

						.confirm {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
</style>
