<template>
	<van-tabbar v-model="active">
		<van-tabbar-item replace to="/" icon="home-o">精选</van-tabbar-item>
		<van-tabbar-item @click="alert" icon="shop-o">充值</van-tabbar-item>
		<van-tabbar-item v-if="statistic.cart > 0" :badge="statistic.cart"  replace to="/cart" icon="shopping-cart-o">购物车</van-tabbar-item>
		<van-tabbar-item v-else replace to="/cart" icon="shopping-cart-o">购物车</van-tabbar-item>
		<van-tabbar-item replace to="/settings" icon="manager-o">我的</van-tabbar-item>
	</van-tabbar>
</template>

<script>
	import { Toast } from 'vant';
	import { mapGetters } from 'vuex'
	export default {
		name : "navigation",
		props: {
			name: String
		},
		computed: {
			...mapGetters([
				"statistic"
			]),
			active() {
				return Math.max(0, (["index", "charge", "cart", "settings"].indexOf(this.name)))
			}
		},
		methods: {
			alert() {
				Toast('建设中')
				this.name = "charge"
			},
			
		}
	}
</script>

<style>
</style>
