<template>
	<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
		<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
			<van-empty image="error" description="尚未发现数据"  v-if="list.length == 0 && finished" />
			<div v-for="item in list" :key="item.id">
				<router-link :to="'/order/detail?id=' + item.id">
					<van-cell :title="item.shop.name">
						<template #right-icon>
							<van-tag v-if="isClosed(item)" plain>已关闭</van-tag>
							<van-tag v-if="isWaitPay(item)" plain type="primary">等待付款</van-tag>
							<van-tag v-if="isPaid(item)" plain type="success">已付款</van-tag>
						</template>
					</van-cell>
					<div class="van-hairline--top"></div>
					<div v-for="goods in item.goods" :key="goods.id">
						<van-card :price="goods.totalPrice" :num="goods.quantity" :desc="goods.skuName" :title="goods.name" :thumb="goods.cover">
							<template #tags>
								<van-tag v-if="isWaitRefund(goods)" plain type="danger">退款申请中</van-tag>
								<van-tag v-if="isProcessingRefund(goods)" plain type="primary">退款已受理</van-tag>
								<van-tag v-if="isRefund(goods)" plain type="success">退款已完成</van-tag>
								<van-tag plain type="danger">¥{{goods.discountPrice}}</van-tag>
							</template>
						</van-card>
					</div>
				</router-link>
				<van-row>
					<van-col span="10">
						<van-cell :title="`共${item.quantity}件 ￥${item.totalPrice}`"></van-cell>
					</van-col>
					<van-col v-if="hasExpress(item)"  span="10">
						<van-cell title="查看快递" is-link :to="'/express?id=' + item.expressId" ></van-cell>
					</van-col>
				</van-row>
				<div class="van-hairline--top"></div>
			</div>
		</van-list>
	</van-pull-refresh>
</template>

<script>
	import Pages from '@/utils/page.js'
	import {isPending, isProcessing, isFinish, isEnable, isDisable} from '@/utils/state.js'
	export default {
		props: {
			loader: Function,
		},
		data() {
			return {
				list: [],
				refreshing: true,
				loading: true,
				finished: false,
				page: new Pages(),
			}
		},
		methods: {
			onLoad() {
				let that = this
				this.loader(this.page).then((resp) => {
					if(!resp.data.next) {
						that.finished = true
					} else {
						that.page.next()
					}
					that.list.push(...resp.data.content)
					that.loading = false
					that.refreshing = false
				})
			},
			onRefresh() {
				this.page.reset();
				this.refreshing = true
				this.list = []
				this.onLoad()
			},
			isClosed(info) {
				return isDisable(info.state)
			},
			isPaid(info) {
				return isEnable(info.state) && info.payState== 'PAID'
			},
			isWaitPay(info) {
				return isEnable(info.state) && info.payState == null
			},
			isWaitRefund(info) {
				return isPending(info.refundState)
			},
			isProcessingRefund(info) {
				return isProcessing(info.refundState)
			},
			isRefund(info) {
				return isFinish(info.refundState)
			},
			hasExpress(info) {
				return !isPending(info.expressState)
			}
		}
	}
</script>

<style>
</style>
