<template>
	<div>
		<van-nav-bar left-text="返回" title="确认订单" left-arrow @click-left="this.$parent.goback" />
		<div style="margin-bottom: 60px;">
			<van-row v-if="selectedContactId">
				<van-col span="2">
					<van-icon name="location-o" color="#1989fa" style="margin-top: 10px;"/>
				</van-col>
				<van-col span="20" style="font-size: 14px;">
					<div>{{contact.name}}&nbsp;&nbsp;{{contact.telephone}}</div>
					<div>{{contact.fullAddress}}</div>
				</van-col>
				<van-col span="2">
					<router-link to="/contact/select">
						<van-icon name="edit" color="#1989fa"  style="margin-top: 10px;"/>
					</router-link>
				</van-col>
			</van-row>
			<van-cell v-else icon="location-o" title="请选择收货地址" is-link to="/contact/select" />
			<div v-for="item in info.shopList" :key="item.id">
				<van-cell :title="item.name"></van-cell>
				<div class="van-hairline--top"></div>
				<div v-for="goods in item.goods" :key="goods.skuId">
					<van-card :price="goods.discountPrice" :desc="goods.skuName" :title="goods.name" :thumb="goods.cover">
						<template #tags>
							<van-tag plain type="danger">数量:{{goods.quantity}}</van-tag>
						</template>
					</van-card>
				</div>
			</div>
			<van-cell :title="`共${info.quantity}件 小记:¥${info.totalPrice}`"></van-cell>
			<van-radio-group v-model="tradeType">
				<van-cell-group>
					<van-cell clickable @click="tradeType = 'ALIPAY';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconalipay"></use>
							</svg>
							<span>支付宝</span>
						</template>
						<template #right-icon>
							<van-radio name="ALIPAY" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'WECHAT'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconweixinfang"></use>
							</svg>
							<span>微信</span>
						</template>
						<template #right-icon>
							<van-radio name="WECHAT" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'PAYPAL';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconpaypal1"></use>
							</svg>
							<span>PayPal</span>
						</template>
						<template #right-icon>
							<van-radio name="PAYPAL" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'KOUDAI'">
                        <template #title>
                            <svg class="icon title" aria-hidden="true" style="font-size: 30px;">
                                <use xlink:href="#iconqianbao"></use>
                            </svg>
                            <span>余额钱包</span>
                        </template>
                        <template #right-icon>
                            <van-radio name="KOUDAI" />
                        </template>
                    </van-cell>
					<van-cell clickable @click="tradeType='TRON';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>波场USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="TRON" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType='ETH';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>以太坊USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="ETH" />
						</template>
					</van-cell>
				</van-cell-group>
			</van-radio-group>
		</div>
		<van-submit-bar :price="info.totalPrice * 100" button-text="提交订单" @submit="onSubmit" />
	</div>
</template>

<script>
	import { mapGetters } from 'vuex'
	import {Toast} from 'vant';
	import {getDefault, info} from '@/api/contact.js'
	import {confirmByCart,confirmBySku,directPay} from '@/api/order.js'
	export default {
		data() {
			return {
				id: this.$route.query.id.split(","),
				type: this.$route.query.type,
				contact: {},
				info: {},
				tradeType: "ALIPAY",
				tradeSubType: "WAP"
			}
		},
		computed: {
			...mapGetters([
				"selectedContactId"
			])
		},
		mounted() {
			let that = this
			if(this.selectedContactId) {
				info(this.selectedContactId).then(resp=>{
					that.contact = resp.data
				})
			} else {
				getDefault().then(resp => {
					that.$store.commit("order/SET_CONTACT_ID", resp.data.keyId)
					that.contact = resp.data
				})
			}
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				let loader = {
					cart: confirmByCart,
					sku: confirmBySku
				}
				loader[this.type](this.id).then(resp => {
					that.info = resp.data
				})
			},
			onSubmit() {
				if (!this.tradeType || !this.tradeSubType || !this.contact || !this.info) {
					Toast("参数错误")
					return
				}
				if(!this.selectedContactId) {
					Toast("请选择收货地址")
					return
				}
				let skuList = []
				this.info.shopList.forEach(shop=>{
					shop.goods.forEach(item => {
						skuList.push({
							skuId: item.skuId,
							quantity: item.quantity,
							remarks: ""
						})
					})
				})
				if (skuList.length <= 0) {
					Toast("参数错误")
					return
				}
                directPay({
                    buyerContactId: this.selectedContactId,
                    skuList: skuList,
                    tradeType: this.tradeType,
                    tradeSubtype: this.tradeSubType
                }).then(resp => {
                    window.document.write(resp);
                }).catch(()=>{
					Toast("下单失败")
				})
			}
		}
	}
</script>

<style>
.title {
margin-right: 4px;
vertical-align: middle;
}
</style>
