<template>
	<div>
		<van-nav-bar left-text="返回" title="订单详情" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<div v-if="loading">
			<van-skeleton title :row="3" />
		</div>
		<div v-else>
			<van-notice-bar v-if="isPaid()" color="#009a00" background="#ecf9ff" left-icon="passed">支付成功</van-notice-bar>
			<van-notice-bar v-if="isWaitPay()" color="#fac524" background="#ecf9ff" left-icon="passed">等待付款</van-notice-bar>
			<van-notice-bar v-if="isClosed()" color="#a2a2a2" background="#ecf9ff" left-icon="passed">已关闭</van-notice-bar>
			<van-cell :title="'收货人:' + info.express.name" icon="location-o" :value="info.express.telephone" :label="info.express.address"></van-cell>
			<van-cell v-if="hasExpress()" title="查看物流" is-link :to="'/express?id=' + info.express.id" />
			<div>
				<van-cell :title="info.shop.name"></van-cell>
				<div class="van-hairline--top"></div>
				<div v-for="item in info.goods" :key="item.id">
					<van-card :num="item.quantity" :price="item.goodsPrice" :desc="item.skuName" :title="item.name" :thumb="item.cover">
						<template #tags>
							<van-tag v-if="isWaitRefund(item)" plain type="danger">退款申请中</van-tag>
							<van-tag v-if="isProcessingRefund(item)" plain type="primary">退款已受理</van-tag>
							<van-tag v-if="isRefund(item)" plain type="success">退款已完成</van-tag>
						</template>
						<template #footer>
							<van-button v-if="isEnableRefund(item)" size="mini" @click="refund(item.itemId)">申请退款</van-button>
						</template>
					</van-card>
					<van-cell :title="`实付金额 ￥${item.totalPrice}`"></van-cell>
				</div>
				<van-button v-if="isPaid()" size="mini" @click="delaySettle()" style="margin: 10px;">延长收货时间</van-button>
				<van-button v-if="isProcessingExpress()" size="mini" @click="confirmExpress()" style="margin: 10px;">确认收货</van-button>
			</div>
			<van-cell-group>
				<van-cell title="订单号" :value="info.id" />
				<van-cell title="交易号" :value="info.transOrderNo" v-if="info.transOrderNo" />
				<van-cell title="创建时间" :value="info.createTime" />
				<van-cell title="成交时间" :value="info.finishTime" v-if="info.finishTime" />
			</van-cell-group>
			<van-button v-if="isWaitPay()" plain hairline type="primary" block replace :to="`/order/pay?id=${info.id}`">继续付款</van-button>
		</div>
	</div>
</template>

<script>
	import {Toast, Dialog} from 'vant';
	import {detail, delaySettle, confirmExpress} from '@/api/order.js'
	import {create} from '@/api/refund.js'
	import {isPending, isProcessing, isFinish, isEnable, isDisable} from '@/utils/state.js'
	export default {
		data() {
			return {
				loading: true,
				id: this.$route.query.id,
				info: {}
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				detail(this.id).then(resp => {
					that.info = resp.data
					that.loading = false
				})
			},
			refund(itemId) {
				Dialog.confirm({
					title: '确认',
					message: '您确认申请退款吗？',
				}).then(() => {
					create(itemId).then(resp => {
						this.$router.push('/refund/detail?id=' + resp.data)
					}).catch(()=>{
						Toast("申请失败")
					})
				})
			},
			delaySettle() {
				delaySettle(this.info.id).then(()=>{
					Toast("处理成功")
				}).catch(()=>{
					Toast("处理失败")
				})
			},
			confirmExpress() {
				Dialog.confirm({
					title: '确认',
					message: '您确认收货吗？',
				}).then(() => {
					confirmExpress(this.info.id).then(()=>{
						Toast("处理成功")
					}).catch(()=>{
						Toast("处理失败")
					})
				})
			},
			isClosed() {
				return isDisable(this.info.state)
			},
			isPaid() {
				return isEnable(this.info.state) && this.info.payState== 'PAID'
			},
			isWaitPay() {
				return isEnable(this.info.state) && this.info.payState == null
			},
			isEnableRefund(info) {
				return this.isPaid() && info.refundState == null
			},
			isWaitRefund(info) {
				return isPending(info.refundState)
			},
			isProcessingRefund(info) {
				return isProcessing(info.refundState)
			},
			isRefund(info) {
				return isFinish(info.refundState)
			},
			hasExpress() {
				return !isPending(this.info.express.state)
			},
			isProcessingExpress() {
				return isProcessing(this.info.express.state)
			}
		}
	}
</script>

<style>
</style>
