<template>
	<div>
		<van-nav-bar left-text="返回" title="我的订单" left-arrow @click-left="this.$parent.goback" right-text="首页" @click-right="this.$parent.tohome"/>
		<van-tabs v-model="tab" sticky @rendered="onLoad">
			<van-tab replace=true to="/order?tab=all" name="all" title="全部">
				<order ref="all" :loader="loader['all']"></order>
			</van-tab>
			<van-tab replace=true to="/order?tab=pays" name="pays" title="待付款" :[waiPayBadge]="statistic.waitPay">
				<order ref="pays" :loader="loader['pays']"></order>
			</van-tab>
			<van-tab replace=true to="/order?tab=delivery" name="delivery" title="待发货" :[waitDeliveryBadge]="statistic.waitDelivery">
				<order ref="delivery" :loader="loader['delivery']"></order>
			</van-tab>
			<van-tab replace=true to="/order?tab=shipped" name="shipped" title="待收货" :[waitShippedBadge]="statistic.shipped">
				<order ref="shipped" :loader="loader['shipped']"></order>
			</van-tab>
		</van-tabs>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	import order from '@/components/order.vue'
	import {list,waitPays,waitDelivery,waitShipped} from '@/api/order.js'
	export default {
		components: {
			order
		},
		data() {
			return {
				refreshing: true,
				loading: true,
				tab: this.$route.query.tab || "all",
				loader: {
					all: list,
					pays: waitPays,
					delivery: waitDelivery,
					shipped: waitShipped
				}
			}
		},
		computed: {
			...mapGetters([
				"statistic"
			]),
			waiPayBadge() {
				return this.statistic.waitPay > 0 ? "badge" : ""
			},
			waitDeliveryBadge() {
				return this.statistic.waitDelivery > 0 ? "badge" : ""
			},
			waitShippedBadge() {
				return this.statistic.shipped > 0 ? "badge" : ""
			}
		},
		methods: {
			getCurrTab() {
				return this.$route.query.tab || "all"
			},
			onLoad(tab) {
				this.$refs[tab].onLoad()
			}
		}
	}
</script>

<style>
</style>
