<template>
	<div>
		<van-nav-bar left-text="返回" title="确认订单" left-arrow @click-left="this.$parent.goback" />
		<div style="margin-bottom: 60px;">
			<van-row>
				<van-col span="2">
					<van-icon name="location-o" color="#1989fa" style="margin-top: 10px;"/>
				</van-col>
				<van-col span="20" style="font-size: 14px;">
					<div>{{info.contact.name}}&nbsp;&nbsp;{{info.contact.telephone}}</div>
					<div>{{info.contact.address}}</div>
				</van-col>
			</van-row>
			<div v-for="item in info.order.shopList" :key="item.id">
				<van-cell :title="item.name"></van-cell>
				<div class="van-hairline--top"></div>
				<div v-for="goods in item.goods" :key="goods.skuId">
					<van-card :price="goods.discountPrice" :num="goods.quantity" :desc="goods.skuName" :title="goods.name" :thumb="goods.cover"></van-card>
				</div>
			</div>
			<van-cell :title="`共${info.order.quantity}件 小记:¥${info.order.totalPrice}`"></van-cell>
			<van-radio-group v-model="tradeType">
				<van-cell-group>
					<van-cell clickable @click="tradeType = 'ALIPAY';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconalipay"></use>
							</svg>
							<span>支付宝</span>
						</template>
						<template #right-icon>
							<van-radio name="ALIPAY" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'PAYPAL';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconpaypal1"></use>
							</svg>
							<span>PayPal</span>
						</template>
						<template #right-icon>
							<van-radio name="PAYPAL" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'KOUDAI'">
                        <template #title>
                            <svg class="icon title" aria-hidden="true" style="font-size: 30px;">
                                <use xlink:href="#iconqianbao"></use>
                            </svg>
                            <span>余额钱包</span>
                        </template>
                        <template #right-icon>
                            <van-radio name="KOUDAI" />
                        </template>
                    </van-cell>
					<van-cell clickable @click="tradeType='TRON';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>波场USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="TRON" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType='ETH';">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>以太坊USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="ETH" />
						</template>
					</van-cell>
				</van-cell-group>
			</van-radio-group>
		</div>
		<van-submit-bar :price="info.order.totalPrice * 100" button-text="提交订单" @submit="onSubmit" />
	</div>
</template>

<script>
	import {Toast} from 'vant';
	import {confirmByOrder,orderPay} from '@/api/order.js'
	export default {
		data() {
			return {
				id: this.$route.query.id,
				info: {},
				tradeType: "ALIPAY",
				tradeSubType: "WAP"
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				confirmByOrder(this.id).then(resp => {
					that.info = resp.data
				})
			},
			onSubmit() {
				if (!this.tradeType || !this.tradeSubType || !this.info) {
					Toast("参数错误")
					return
				}
                orderPay({
                    orderId: this.id,
                    tradeType: this.tradeType,
                    tradeSubtype: this.tradeSubType
                }).then(resp => {
                    window.document.write(resp);
                }).catch(()=>{
					Toast("下单失败")
				})
			}
		}
	}
</script>

<style>
.title {
margin-right: 4px;
vertical-align: middle;
}
</style>

