<template>
	<div>
		<van-nav-bar left-text="返回" title="订单状态" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<van-skeleton title :row="3" v-if="loading" />
		<div v-else>
			<van-notice-bar v-if="info.state == 'PAID'" color="#00aa00" background="#ecf9ff" left-icon="info-o">支付成功</van-notice-bar>
			<van-notice-bar v-else color="#ffaa00" background="#ecf9ff" left-icon="info-o">正在确认支付状态，请稍后</van-notice-bar>
			<van-cell-group>
				<van-cell title="订单号" :value="info.keyId" :label="info.subject"/>
				<van-cell title="金额" :value="'¥' + info.amount" />
				<van-cell title="创建时间" :value="info.createTime" />
			</van-cell-group>
			<van-button plain hairline type="primary" block replace to="/order">返回订单列表</van-button>
		</div>
	</div>
</template>

<script>
	import { status } from '@/api/order.js'
	export default {
		data() {
			return {
				loading: true,
				orderNo: this.$route.query.order_no,
				info: {}
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				status(this.orderNo).then(resp=>{
					that.info = resp.data
					that.loading = false
				})
			},
			recheck() {
				if(this.info && this.info.state != 'PAID') {
					this.onLoad()
					setTimeout(this.recheck, 3000)
				}
			}
		}
	}
</script>

<style>
</style>
