<template>
	<div>
		<van-nav-bar title="关于我们" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div style="font-size: 14px; padding:10px 20px;">
			<ul>
				<li>本系统仅用于技术交流、学习研究。严禁复制、滥用。否则将来造成的一切后果自行承担。</li>
				<li>目前所支持的支付宝、PayPal、TRON USDT、Ethereum USDT等均采用官方测试环境对接，可放心使用。</li>
				<li>本平台提供独立的支付中台、出款、虚拟钱包、分账、虚拟类电商、实物类电商等系列可独立运营的子系统，可作为企业原型产品。前后端分离、支持OpenApi、Kotlin开发、集群部署、功能可定制扩展。</li>
				<li>涉及的工具下载地址：
					<a href="https://sandbox.alipaydev.com/user/downloadApp.htm" target="_blank">支付宝沙箱钱包</a>、
					<a href="https://www.tronlink.org/" target="_blank">TronLink</a>、
					<a href="https://metamask.io/download.html" target="_blank">Ethereum MetaMask</a>。
				</li>
			</ul>
		</div>
	</div>
</template>

<style>
	ul li {
		padding: 5px 0px;
	}
</style>
