<template>
	<div>
		<van-nav-bar title="登录" left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<div v-if="loginModel == 'pwd'">
			<van-field v-model="pwdForm.username" name="用户名" label="用户名" placeholder="用户名" :rules="[{ required: true, message: '请填写用户名' }]" />
			<van-field v-model="pwdForm.password" type="password" name="密码" label="密码" placeholder="密码" :rules="[{ required: true, message: '请填写密码' }]" />
			<div style="margin: 16px;">
				<van-button round block type="info" @click="onPwdSubmit">登录</van-button>
			</div>
			<van-cell value="支付宝" @click="loginByAliPay" />
			<van-cell value="手机号" @click="loginModel = 'sms'" />
		</div>
		<div v-if="loginModel == 'sms'">
			<van-field v-model="smsForm.phoneNumber" center clearable label="手机号" placeholder="请输入手机号">
				<template #button>
					<van-button size="small" type="primary" @click="getLoginSmsCode">发送验证码</van-button>
				</template>
			</van-field>
			<van-field v-model="smsForm.code" type="text" name="验证码" label="验证码" placeholder="验证码" :rules="[{ required: true, message: '请填写验证码' }]" />
			<div style="margin: 16px;">
				<van-button round block type="info" @click="onSmsSubmit">登录</van-button>
			</div>
			<van-cell value="支付宝" @click="loginByAliPay" />
			<van-cell value="账号密码" @click="loginModel = 'pwd'" />
		</div>
	</div>
</template>
<script>
	import {Toast} from 'vant'
	import device from "current-device"
	import {alipayLogin, weixinLogin, sendLoginSmsCode} from '@/api/user.js'
	export default {
		data() {
			return {
				redirect: this.$route.query.redirect,
				pwdForm: {
					username: 'ensi.kai01',
					password: 'asdfASDF',
				},
				smsForm: {
					phoneNumber: '',
					code: '',
				},
				loginModel: "pwd", //pwd,sms
				desktop: device.desktop()
			}
		},
		methods: {
			getRedirectLocation() {
				return this.redirect || this.$baseUrl()
			},
			onPwdSubmit() {
				let that = this
				if(!this.pwdForm.username || !this.pwdForm.password) {
					Toast("请先输入用户名和密码");
					return
				}
				this.$store.dispatch('user/login', this.pwdForm).then(() => {
					window.location.href = that.getRedirectLocation()
				}).catch((resp) => {
					Toast(resp.data.msg);
				})
			},
			getLoginSmsCode() {
				if (!this.smsForm.phoneNumber) {
					Toast("请先输入手机号");
					return
				}
				sendLoginSmsCode(this.smsForm.phoneNumber).then(() => {
					Toast("发送成功");
				}).catch(() => {
					Toast("发送失败");
				})
			},
			onSmsSubmit() {
				let that = this
				if(!this.smsForm.phoneNumber || !this.smsForm.code) {
					Toast("请先输入手机号和验证码");
					return
				}
				this.$store.dispatch('user/smslogin', this.smsForm).then(() => {
					window.location.href = that.getRedirectLocation()
				}).catch((resp) => {
					Toast(resp.data.msg);
				})
			},
			loginByAliPay() {
				let redirectLocation = window.encodeURIComponent(this.getRedirectLocation())
				alipayLogin(redirectLocation).then((resp) => {
					if (device.mobile()) {
						window.location.href = "alipays://platformapi/startapp?appId=20000067&url=" + window.encodeURIComponent(resp.data)
					} else {
						window.location.href = resp.data
					}
				}).catch(() => {
					Toast("登录失败，请选择其它登录方式");
				})
			},
			loginByWeiXin() {
				let redirectLocation = window.encodeURIComponent(this.getRedirectLocation())
				weixinLogin(redirectLocation).then((resp) => {
					window.location.href = resp.data
				}).catch(() => {
					Toast("登录失败，请选择其它登录方式");
				})
			}
		}
	}
</script>

<style>
</style>
