<template>
	<div>
		<div style="margin-bottom: 60px;">
			<div style="text-align: center; background-color: #39A9ED; padding: 30px 60px;">
				<van-image width="100" height="100" :src="userInfo.avatar" v-if="token"/>
				<van-button v-else type="primary" to="/login">登录</van-button>
			</div>
			<van-tabbar v-model="active" :fixed="false" style="padding: 10px 0;">
				<van-tabbar-item icon="send-gift-o" to="/order?tab=all">全部</van-tabbar-item>
				<van-tabbar-item icon="paid" :[waitPayBadge]="statistic.waitPay" to="/order?tab=pays">待付款</van-tabbar-item>
				<van-tabbar-item icon="free-postage" :[waitDeliveryBadge]="statistic.waitDelivery" to="/order?tab=delivery">待发货</van-tabbar-item>
				<van-tabbar-item icon="logistics" :[shippedBadge]="statistic.shipped" to="/order?tab=shipped">待收货</van-tabbar-item>
				<van-tabbar-item icon="service-o" to="/refund">退款/售后</van-tabbar-item>
			</van-tabbar>
			<van-grid clickable :column-num="3">
				<van-grid-item v-for="value in 6" :key="value" icon="photo-o" text="其它功能" />
			</van-grid>
			<van-cell-group title="">
				<van-cell title="我的钱包" is-link to="/wallet" />
				<van-cell title="收货地址" is-link to="/contact" />
				<van-cell title="关于我们" is-link to="/about"/>
				<van-cell title="版本更新" value="V2.7.87" />
			</van-cell-group>
			<van-button v-if="token" type="danger" block @click="logout">退出登录</van-button>
		</div>
		<navigation name="settings"></navigation>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	import navigation from '@/components/navitation.vue'
	export default {
		components: {
			navigation
		},
		data() {
			return {
				active: -1
			}
		},
		computed: {
			...mapGetters([
				'token',
				'userInfo',
				'statistic'
			]),
			waitPayBadge() {
				return this.statistic.waitPay > 0 ? "badge" : ""
			},
			waitDeliveryBadge() {
				return this.statistic.waitDelivery > 0 ? "badge" : ""
			},
			shippedBadge() {
				return this.statistic.shipped > 0 ? "badge" : ""
			},
		},
		methods: {
			logout() {
				this.$store.dispatch('user/logout').then(() => {
					this.$router.push("/login")
				})
			}
		}
	}
</script>

<style>
</style>
