<template>
	<div>
		<van-nav-bar left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<van-empty image="search" description="您要找的内容不见了~" />
	</div>
</template>

<script>
</script>

<style>
</style>
