<template>
	<div>
		<van-nav-bar left-text="返回" left-arrow @click-left="this.$parent.goback" />
		<van-empty image="error" description="太忙了,客官稍后再试~" />
	</div>
</template>

<script>
</script>

<style>
</style>
