<template>
	<div>
		<van-nav-bar left-text="返回" title="退款详情" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<van-skeleton title :row="3" v-if="loading" />
		<div v-else>
			<van-notice-bar v-if="isPending()" color="#ffaa00" background="#ecf9ff" left-icon="passed">申请中</van-notice-bar>
			<van-notice-bar v-if="isProcessing()" color="#0d7f7b" background="#ecf9ff" left-icon="passed">已受理</van-notice-bar>
			<van-notice-bar v-if="isCancel()" color="#bcbcbc" background="#ecf9ff" left-icon="passed">已撤销</van-notice-bar>
			<van-notice-bar v-if="isClose()" color="#bcbcbc" background="#ecf9ff" left-icon="passed">已关闭</van-notice-bar>
			<van-notice-bar v-if="isFinish()" color="#1989fa" background="#ecf9ff" left-icon="passed">退款成功</van-notice-bar>
			<van-cell-group>
				<van-cell title="退款金额" :value="'¥' + info.amount" />
			</van-cell-group>
			<div>
				<van-card :price="info.amount" :desc="info.goods.skuName" :title="info.goods.name" :thumb="info.goods.cover">
					<template #footer>
						<van-button v-if="isPending()" size="mini" @click="cancel(info.id)">撤销退款申请</van-button>
					</template>
				</van-card>
				<van-cell :title="`实付金额¥${info.amount}`"></van-cell>
			</div>
			<van-cell-group>
				<van-cell title="退款编号" :value="info.id" />
				<van-cell title="订单号" :value="info.orderNo" />
				<van-cell title="退款金额" :value="'¥' + info.amount" />
				<van-cell title="申请时间" :value="info.createTime" />
				<van-cell v-if="isFinish()" title="完成时间" :value="info.finishTime" />
			</van-cell-group>
		</div>
	</div>
</template>

<script>
	import {Toast, Dialog} from 'vant';
	import {detail,cancel} from '@/api/refund.js'
	import {isPending, isProcessing, isFinish, isCancel, isClose} from '@/utils/state.js'
	export default {
		inject:['reload'],
		data() {
			return {
				loading: true,
				id: this.$route.query.id,
				info: {}
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onLoad() {
				let that = this
				this.loading = true
				detail(this.id).then(resp => {
					that.info = resp.data
					that.loading = false
				})
			},
			cancel(id) {
				let that = this
				Dialog.confirm({
                    title: '确认',
                    message: '您确认撤销退款吗？',
                }).then(() => {
                    cancel(id).then(() => {
                        that.reload()
                    }).catch(()=>{
                        Toast("撤销失败")
                    })
                })
			},
			isPending() {
				return isPending(this.info.state)
			},
			isProcessing() {
				return isProcessing(this.info.state)
			},
			isFinish() {
				return isFinish(this.info.state)
			},
			isCancel() {
				return isCancel(this.info.state)
			},
			isClose() {
				return isClose(this.info.state)
			}
		}
	}
</script>

<style>
</style>
