<template>
	<div>
		<van-nav-bar left-text="返回" title="退款列表" right-text="客服" left-arrow @click-left="this.$parent.goback" />
		<van-pull-refresh v-model="refreshing" @refresh="onRefresh">
			<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
				<van-empty image="error" description="尚未发现数据"  v-if="list.length == 0 && finished" />
				<div v-for="item in list" :key="item.id">
					<router-link :to="'/refund/detail?id=' + item.id">
						<van-cell :title="item.shop.name"></van-cell>
						<div class="van-hairline--top"></div>
						<van-card :price="item.amount" :desc="item.goods.skuName" :title="item.goods.name" :thumb="item.goods.cover">
							<template #tags>
								<van-tag v-if="isPending(item)" plain type="danger">申请中</van-tag>
								<van-tag v-if="isProcessing(item)" plain type="danger">已受理</van-tag>
								<van-tag v-if="isCancel(item)" plain type="danger">已撤销</van-tag>
								<van-tag v-if="isClose(item)" plain type="danger">已关闭</van-tag>
								<van-tag v-if="isFinish(item)" plain type="danger">已完成</van-tag>
							</template>
							<template #footer>
								<span>退款金额 :¥ {{item.amount}}</span>
							</template>
						</van-card>
					</router-link>
				</div>
			</van-list>
		</van-pull-refresh>
	</div>
</template>

<script>
	import Pages from '@/utils/page.js'
	import { list } from '@/api/refund.js'
	import {isPending, isProcessing, isFinish, isCancel, isClose} from '@/utils/state.js'
	export default {
		data() {
			return {
				refreshing: true,
				loading: true,
				finished: false,
				list: [],
				pages: new Pages(),
			}
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			onRefresh() {
				this.refreshing = true
				this.list = []
				this.onLoad()
			},
			onLoad() {
				let that = this
				this.loading = true
				list(this.pages).then(response => {
					if(!response.data.next) {
						that.finished = true
					} else {
						that.pages.next()
					}
					that.list.push(...response.data.content)
					that.loading = false
					that.refreshing = false
				})
			},
			isPending(info) {
				return isPending(info.state)
			},
			isProcessing(info) {
				return isProcessing(info.state)
			},
			isFinish(info) {
				return isFinish(info.state)
			},
			isCancel(info) {
				return isCancel(info.state)
			},
			isClose(info) {
				return isClose(info.state)
			}
		}
	}
</script>

<style>
</style>
