<template>
	<div>
		<van-nav-bar left-text="返回" title="账户充值" left-arrow @click-left="this.$parent.goback" />
		<div style="margin-bottom: 60px;">
			<van-radio-group v-model="amount" style="font-size: 14px;">
				<van-grid :border="false" :column-num="3">
					<van-grid-item>
						<van-radio name="50" checked-color="#ee0a24" @click="amount = '50'">50元</van-radio>
					</van-grid-item>
					<van-grid-item>
						<van-radio name="100" checked-color="#ee0a24" @click="amount = '100'">100元</van-radio>
					</van-grid-item>
					<van-grid-item>
						<van-radio name="150" checked-color="#ee0a24" @click="amount = '150'">150元</van-radio>
					</van-grid-item>
					<van-grid-item>
						<van-radio name="200" checked-color="#ee0a24" @click="amount = '200'">200元</van-radio>
					</van-grid-item>
					<van-grid-item>
						<van-radio name="250" checked-color="#ee0a24" @click="amount = '250'">250元</van-radio>
					</van-grid-item>
					<van-grid-item>
						<van-radio name="300" checked-color="#ee0a24" @click="amount = '300'">300元</van-radio>
					</van-grid-item>
				</van-grid>
			</van-radio-group>
			<van-field v-model="amount" label="其它金额" placeholder="输入充值金额" />
			<van-radio-group v-model="tradeType">
				<van-cell-group>
					<van-cell clickable @click="tradeType = 'ALIPAY'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconalipay"></use>
							</svg>
							<span>支付宝</span>
						</template>
						<template #right-icon>
							<van-radio name="ALIPAY" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'WECHAT'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconweixinfang"></use>
							</svg>
							<span>微信</span>
						</template>
						<template #right-icon>
							<van-radio name="WECHAT" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType = 'PAYPAL'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconpaypal1"></use>
							</svg>
							<span>PayPal</span>
						</template>
						<template #right-icon>
							<van-radio name="PAYPAL" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType='TRON'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>波场USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="TRON" />
						</template>
					</van-cell>
					<van-cell clickable @click="tradeType='ETH'">
						<template #title>
							<svg class="icon title" aria-hidden="true" style="font-size: 30px;">
								<use xlink:href="#iconUSDT"></use>
							</svg>
							<span>以太坊USDT</span>
						</template>
						<template #right-icon>
							<van-radio name="ETH" />
						</template>
					</van-cell>
				</van-cell-group>
			</van-radio-group>
		</div>
		<van-submit-bar button-text="提交订单" @submit="onSubmit" />
	</div>
</template>

<script>
	import {Toast} from 'vant';
	import {topup} from '@/api/wallet.js'
	export default {
		data() {
			return {
				showPopover: false,
				amount: "50",
				tradeType: "ALIPAY",
				tradeSubType: "WAP"
			}
		},
		mounted() {
		},
		methods: {
			onSubmit() {
				if (!this.amount || !this.tradeType || !this.tradeSubType) {
					Toast("参数错误")
					return
				}
				topup({
					amount: this.amount,
					tradeType: this.tradeType,
					tradeSubtype: this.tradeSubType
				}).then(resp => {
					window.document.write(resp);
				}).catch(() => {
					Toast("下单失败")
				})
			}
		}
	}
</script>

<style>
.title {
margin-right: 4px;
vertical-align: middle;
}
</style>
