<template>
	<router-view v-if="isRouterAlive"></router-view>
</template>

<script>
	export default {
		name: 'App',
		provide() {
			return {
				reload: this.reload
			}
		},
		data() {
			return {
				isRouterAlive: true
			}
		},
		beforeCreate() {
			this.$store.dispatch("user/info")
			this.$store.dispatch("user/statistic")
			this.$store.dispatch("global/init").catch((resp)=>{
				this.$showError(resp)
			})
		},
		methods: {
			goback() {
				window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/')
			},
			tohome() {
				this.$router.push('/')
			},
			reload() {
				this.isRouterAlive = false
				this.$nextTick(function() {
					this.isRouterAlive = true
				})
			}
		}
	}
</script>
