<template>
	<div>
		<van-nav-bar left-text="返回" :title="'购物车(' + (statistic.cart || 0) +')'" :right-text="deleteView ? '完成' : '管理'" left-arrow @click-left="this.$parent.goback" @click-right="toggleView"/>
		<van-pull-refresh v-model="refreshing" @refresh="onRefresh" style="margin-bottom: 100px;">
			<van-list v-model="loading" :finished="finished" :finished-text="list.length==0?'':'没有更多了'" @load="onLoad">
				<van-empty image="error" description="尚未发现数据"  v-if="list.length == 0 && finished" />
				<div v-for="item in list" :key="item.id">
					<van-checkbox-group v-model="checkedShop">
						<van-cell @click="onSelectShop(item.shop.id)">
							<template #title>
								<van-checkbox :name="item.shop.id" ref="checkboxes" @click="onSelectShop(item.shop.id)" />
							</template>
							<template #right-icon>
								{{item.shop.name}}
							</template>
						</van-cell>
					</van-checkbox-group>
					<div class="van-hairline--top"></div>
					<van-checkbox-group v-model="checkedCart">
						<div v-for="goods in item.shop.goods" :key="goods.cartId">
							<van-cell>
								<template #title>
									<van-checkbox :name="goods.cartId" @click="onSelectSku" style="top: 46%; position: relative;"></van-checkbox>
								</template>
								<template #right-icon>
									<van-card :price="goods.discountPrice" :desc="goods.skuName" :title="goods.name" :thumb="goods.cover" style="width: 100%;">
										<template #num>
											<van-stepper v-model="form[goods.cartId]['quantity']" />
										</template>
										<template #tags>
											<van-tag plain type="danger">库存:{{goods.availableQuantity}}</van-tag>
										</template>
									</van-card>
								</template>
							</van-cell>
						</div>
					</van-checkbox-group>
				</div>
				<van-submit-bar v-if="deleteView" style="margin-bottom: 60px;" button-text="删除" @submit="onDelete" />
				<van-submit-bar v-else style="margin-bottom: 60px;" :price="price" button-text="付款" @submit="onSubmit" />
			</van-list>
		</van-pull-refresh>
		<navigation name="cart"></navigation>
	</div>
</template>

<script>
	import Vue from 'vue'
	import { Toast, Dialog } from 'vant'
	import { union, indexOf, without } from 'underscore'
	import navigation from '@/components/navitation.vue'
	import { mapGetters } from 'vuex'
	import { list, remove } from '@/api/cart.js'
	import Pages from '@/utils/page.js'
	export default {
		components: {
			navigation
		},
		inject:['reload'],
		data() {
			return {
				refreshing: true,
				loading: true,
				finished: false,
				checkedShop: [],
				checkedCart: [],
				list: [],
				form: {},
				price: 0,
				pages: new Pages(),
				deleteView: false
			}
		},
		computed: {
			...mapGetters([
				'statistic'
			])
		},
		watch: {
			checkedCart: "reducePrice"
		},
		mounted() {
			this.onLoad()
		},
		methods: {
			reducePrice() {
				let that = this
				//根据选择的购物车计算总价,Vant组件单位为分
				this.price = this.checkedCart.reduce((rs, item) => {
					return rs + that.form[item].price * that.form[item].quantity
				}, 0) * 100
			},
			onRefresh() {
				this.refreshing = true
				this.onLoad()
			},
			onLoad() {
				let that = this
				this.loading = true
				this.checkedShop = this.checkedCart = []
				list(this.pages).then( response => {
					if(!response.data.next) {
						that.finished = true
					} else {
						that.page.next()
					}
					response.data.content.forEach(item => {
						item.shop.goods.forEach(goods => {
							//动态添加属性
							Vue.set(that.form, goods.cartId, {
								cartId: goods.cartId,
								price: goods.discountPrice,
								quantity: goods.quantity
							})
							//监听数量被修改动作用于重新计算价格
							that.$watch('form.' + goods.cartId + '.quantity', that.reducePrice)
						})
					})
					that.list = response.data.content
					that.loading = false
					that.refreshing = false
				})
			},
			getCartIdListByShopId(shopId) {
				return this.list.filter(item => item.shop.id == shopId).reduce((rs, item) => {
					return rs.concat(item.shop.goods.reduce((rs, item) => {
						return rs.concat(item.cartId)
					}, []))
				}, [])
			},
			getShopIdByCartId(cartId) {
				let shops = this.list.filter(item => {
					return item.shop.goods.filter(goods => goods.cartId == cartId).length > 0
				})
				if (shops.length != 1) return null
				return shops[0].shop.id
			},
			onSelectShop(shopId) {
				this.renderSku(shopId)
			},
			onSelectSku() {
				this.renderShop()
			},
			renderSku(shopId) {
				let cartList = []
				//根据已经勾选的店铺计算出店铺下所有的购物车
				this.checkedShop.forEach(item => {
					cartList = union(cartList, this.getCartIdListByShopId(item))
				})
				//当取消全选计算出当前被取消店铺下的购物车
				if (indexOf(this.checkedShop, shopId) == -1) {
					let cartIdList = this.getCartIdListByShopId(shopId)
					//将取消全选的购物车排除
					cartList = union(without(this.checkedCart, ...cartIdList), cartList)
				} else {
					cartList = union(this.checkedCart, cartList)
				}
				this.checkedCart = cartList
			},
			renderShop() {
				//根据已经勾选的购物车计算出符合全选的店铺
				let shopList = []
				this.checkedCart.forEach(item => {
					let shopId = this.getShopIdByCartId(item)
					let cartIdList = this.getCartIdListByShopId(shopId)
					let checkedCount = this.checkedCart.filter(item => -1 < cartIdList.findIndex(cartId => cartId == item)).length
					if (checkedCount == cartIdList.length) {
						shopList = union(shopList, [shopId])
					}
				})
				this.checkedShop = shopList
			},
			onSubmit() {
				if(this.price <= 0 || this.checkedCart.length <= 0) {
					Toast("请选择商品")
					return
				}
				this.$router.push("/order/confirm?type=cart&id=" + this.checkedCart.join(","))
			},
			onDelete() {
				let that = this
				if(this.checkedCart.length <= 0) {
					Toast("请选择商品")
					return
				}
				Dialog.confirm({
					title: '确认',
					message: '您需要删除所选商品吗?',
				}).then(() => {
					remove(this.checkedCart).then(()=>{
						that.reload()
					}).catch(()=>{
						Toast("处理失败")
					})
				})
			},
			toggleView() {
				this.deleteView = !this.deleteView
				this.checkedCart = []
				this.checkedShop = []
			}
		}
	}
</script>

<style>
</style>
